<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peritus | Home</title>
    <link rel="stylesheet" href="styles/home.css">
</head>
<body>
    <!--Header-->
    <header>
        <div class="logo">Peritus</div>
        <nav>
            <a href="">Protocolos</a>
            <a href="">Documentos Técnicos</a>
            <a href="">Usuarios</a>
            <a href="">Perfil</a>
        </nav>
    </header>
</body>
</html>